services:
  mongodb:
    ports:
      - 27017:27017
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development

  data-generator:
    volumes:
      - ./data-generator/index.js:/app/index.js
    command: [ "npm", "run", "dev" ]
    environment:
      NODE_ENV: development

  nginx:
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
